/*************** components ***************/

.larmic-component-label {
	margin-right: 2px;
}

.larmic-component-required {
	color: red;
	margin-right: 2px;
}

.larmic-component-input {
	font-size: 14px !important;
	height: 18px;
	margin-right: 2px;
}

.input-invalid {
	background-color: #CC6633 !important;
}

.larmic-component-tooltip li {
	list-style: disc outside none;
    margin-left: 20px;
    color: #CC6633;
}

/*************** showcase ***************/

.page {
	margin: 0 auto;
	width: 1000px;	
}

.header {
	background-color: #333333;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
	line-height: 60px;
}

.header h1 {
	color: #999999;
	font-size: x-large;
	margin-left: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
		Geneva, Verdana, sans-serif;
}

.linkContainer {
    position: absolute;
    top: 10px;
    font-size: 9pt;
    left: 1020px;
    background: -moz-linear-gradient(center top , #E3E3E3, #F2F2F2) repeat scroll 0 0 transparent;
    border-radius: 200px 200px 200px 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04) inset;
    padding: 10px;
}

.link {
    background: -moz-linear-gradient(center top , #FBFBFB, #E1E1E1) repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #666666;
    display: inline-block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 25.6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px white;
    vertical-align: middle;
}

.link > div {
    padding-top: 40px;
}

.link-glow {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: glowing;
}

.link-flat-primary {
    background: none repeat scroll 0 0 #00A1CB;
    border: medium none;
    box-shadow: none;
    color: white;
    text-shadow: none;
    transition-duration: 0.3s;
    transition-property: background, color;
}

.link-circle {
    border-radius: 240px 240px 240px 240px;
    border-width: 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    height: 120px;
    line-height: 20px;
    padding: 0;
    width: 120px;
}

.content {
	background: none repeat scroll 0 0 whitesmoke;
	-moz-border-radius: 0px 0px 6px 6px; /* Firefox */
	-webkit-border-radius: 0px 0px 6px 6px; /* Safari, Chrome */
	-khtml-border-radius: 0px 0px 6px 6px; /* Konqueror */
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px; /* CSS3 */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

#form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999999;
}

.componentWrapper {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

.componentControlContainer {
    float: left;
    margin-right: 10px;
}

.componentControls {
	width: 235px !important;
	color: #E0E2E4;
}

.componentControls label {
	margin-right: 10px;
}

#source {
	float: left;
}

.componentCode {
	background-color: #333333;
	padding: 5px !important;
	width: 380px;
	margin-bottom: 5px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
}

.componentContainer {
	float: left;
	width: 325px;
	height: 120px;
	margin-right: 10px;
}

.component {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
}

.componentControls input[type="submit"] {
	background-color: #69A1C9;
    border-color: #3D7CA9 !important;
    border-style: solid;
    border-width: 4px;
    -moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
	background-image: linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -o-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -moz-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -ms-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #1C7586),
		color-stop(0.52, #3899A1),
		color-stop(0.97, #3D7CA9)
	);
}

.component input[type="submit"]:HOVER {
	background-color: #3D7CA9;
}