/*************** components ***************/

.larmic-component-label {
	margin-right: 2px;
}

.larmic-component-required {
	color: red;
	margin-right: 2px;
}

.larmic-component-input {
	font-size: 14px !important;
	height: 18px;
	margin-right: 2px;
}

.input-invalid {
	background-color: #CC6633 !important;
}

/*************** showcase ***************/

.page {
	margin: 0 auto;
	width: 1000px;	
}

.header {
	background-color: #333333;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
	line-height: 60px;
}

.header h1 {
	color: #999999;
	font-size: x-large;
	margin-left: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
		Geneva, Verdana, sans-serif;
}

.link {
	padding-left: 850px;
    position: absolute;
    top: 0;
    color: #999999;
    font-size: 9pt;
}

.content {
	background: none repeat scroll 0 0 whitesmoke;
	-moz-border-radius: 0px 0px 6px 6px; /* Firefox */
	-webkit-border-radius: 0px 0px 6px 6px; /* Safari, Chrome */
	-khtml-border-radius: 0px 0px 6px 6px; /* Konqueror */
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px; /* CSS3 */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

#form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999999;
}

.componentWrapper {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

.componentControls {
	float: left;
}

.componentControls label {
	margin-right: 10px;
}

.componentCode {
	background-color: #333333;
	padding: 5px !important;
	width: 380px;
	float: left;
	margin-left: 60px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
}

.component {
	float: left;
	width: 330px;
	height: 120px;
}

.component input[type="submit"] {
	background-color: #69A1C9;
    border-color: #3D7CA9 !important;
    border-style: solid;
    border-width: 4px;
    left: 120px;
    position: relative;
    top: 70px;
    -moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
	background-image: linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -o-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -moz-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -ms-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #1C7586),
		color-stop(0.52, #3899A1),
		color-stop(0.97, #3D7CA9)
	);
}

.component input[type="submit"]:HOVER {
	background-color: #3D7CA9;
}