/*************** components ***************/

.larmic-component-label {
	width: 50px
}

.larmic-component-required {
	color: red;
	margin-right: 2px;
}

.larmic-component-input {
	font-size: 14px !important;
	height: 18px;
	margin-right: 2px;
}

.input-invalid {
	background-color: #CC6633 !important;
}

.larmic-component-tooltip li {
	list-style: disc outside none;
    margin-left: 20px;
    color: #CC6633;
}

/*************** showcase ***************/

.page {
	margin: 0 auto;
	width: 1024px;	
}

.header {
	background-color: #333333;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
	line-height: 60px;
}

.header h1 {
	color: #999999;
	font-size: x-large;
	margin-left: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
		Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(#{resource['img:check_radio_sheet.png']}) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label {
    background:url(#{resource['img:check_radio_sheet.png']}) -19px top no-repeat;
}


.linkContainer {
    position: absolute;
    top: 10px;
    font-size: 9pt;
    left: 1050px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.link {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	border: 1px solid #d4d4d4;
	height: 32px;
	line-height: 32px;
	padding: 0px 25.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #666666;
	text-shadow: 0 1px 1px white;
	margin: 0;
	text-decoration: none;
	text-align: center;}

.link:hover {
	background-color: #00a1cb;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}

.link > div {
    padding-top: 24px;
}

.link-glow {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: glowing;
}

.link-flat-primary {
	-webkit-transition-property: background, color;
	-moz-transition-property: background, color;
	-o-transition-property: background, color;
	transition-property: background, color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #00a1cb;
	color: white;
	text-shadow: none;
	border: none;
}

.link-circle  {
	-webkit-border-radius: 240px;
	-moz-border-radius: 240px;
	-ms-border-radius: 240px;
	-o-border-radius: 240px;
	border-radius: 240px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	width: 80px;
	line-height: 20px;
	height: 80px;
	padding: 0;
	border-width: 4px;
	font-size: 11px;
}

.content {
	background: none repeat scroll 0 0 whitesmoke;
	-moz-border-radius: 0px 0px 6px 6px; /* Firefox */
	-webkit-border-radius: 0px 0px 6px 6px; /* Safari, Chrome */
	-khtml-border-radius: 0px 0px 6px 6px; /* Konqueror */
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px; /* CSS3 */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

#form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999999;
}

.componentWrapper {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

.componentControlContainer {
    float: left;
    margin-right: 10px;
}

.componentControls {
	width: 235px !important;
	color: #E0E2E4;
}

.componentControls label {
	margin-right: 10px;
}

#source {
	float: left;
}

.componentCode {
	background-color: #333333;
	padding: 5px !important;
	width: 380px;
	margin-bottom: 5px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
}

.componentContainer {
	float: left;
	width: 350px;
	height: 120px;
	margin-right: 10px;
}

.component {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
}

.componentControls input[type="submit"] {
	background-color: #69A1C9;
    border-color: #3D7CA9 !important;
    border-style: solid;
    border-width: 4px;
    -moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px; /* Konqueror */
	border-radius: 6px;
	-moz-border-radius: 6px; /* CSS3 */
	background-image: linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -o-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -moz-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -ms-linear-gradient(bottom, #1C7586 3%, #3899A1 52%, #3D7CA9 97%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #1C7586),
		color-stop(0.52, #3899A1),
		color-stop(0.97, #3D7CA9)
	);
}

.component input[type="submit"]:HOVER {
	background-color: #3D7CA9;
}

/*************** glowing ***************/
@-webkit-keyframes glowing {
  /* line 8, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 10, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-khtml-keyframes glowing {
  /* line 14, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 15, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 16, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 20, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 21, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 22, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes glowing {
  /* line 26, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 27, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 28, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 32, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 33, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 34, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 38, ../scss/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 39, ../scss/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 40, ../scss/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}