.table-striped>tbody>tr.butter-table-row-selected {
    background: #D1E3FF;
}

.table-striped>tbody>tr.butter-table-row:hover {
    background: #E8F1FF;
    cursor: pointer;
}

.butter-table-toolbar ul.dropdown-menu-form {
    max-height: 300px;
}

.butter-table-toolbar-columns label {
    font-weight: normal;
}

.butter-table-toolbar-columns li {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.butter-table-toolbar-columns li:hover {
    background: #E8F1FF;
    cursor: pointer;
}