select.butterfaces-input-component {
    height: 34px; /* bootstrap default height */
}

.larmic-component-required {
    color: #a94442;
    margin-right: 2px;
    margin-left: 2px;
}

.larmic-component-tooltip {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 2px 2px 3px #AAAAAA;
    -webkit-box-shadow: 2px 2px 3px #AAAAAA;
    box-shadow: 2px 2px 3px #AAAAAA;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 200px;
    z-index: 200;
    min-height: 25px;
    margin-left: 10px
}

.larmic-component-tooltip  .noteConnector {
	height: 17px;
    left: -11px;
    position: absolute;
    top: 2px;
    width: 11px;
    border: 0 none;
    z-index: 201;
	background: transparent url(#{resource['img:noteConnectorLeft.png']}) no-repeat top !important;
}

.larmic-component-tooltip .noteContent {
	padding: 5px;
}

.larmic-component-error-message {
    background-color: #FFEBDA;
    border: 1px solid #FF0044;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
}

.larmic-component-error-message li {
    list-style: disc outside none;
    margin-left: 20px;
    color: #555555;
    font-style: italic;
}

.larmic-textarea-counter {
	font-style: italic;
}

.butterfaces-component-floating {
    display: inline-block;
}

.larmic-component-toastContainer{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}

.larmic-component-toast-error{
    border: 2px solid #f00;
    background-color: #ddf;
    padding: 10px;
    font-weight: bold;
}

.larmic-component-fieldset {
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.larmic-component-fieldset legend {
    margin-bottom: 0;
}