.butter-component-tree .glyphicon-node {
    margin-top: 6px;
}

.butter-component-tree .tr-tree-entryTree {
    display: inline-table;
    width: 100%;
}

.butter-component-tree .tr-tree,
.butter-component-tree .tr-tree:focus,
.butter-component-tree .tr-tree.focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.butter-component-tree .tr-tree .tr-tree-entryTree {
    -webkit-flex: none;
    flex: none;
}