@import "butterfaces-spinner";

.butter-component-glyphicon-processing {
    text-align: left;
    width: 20px;
    display: none;
}

.butter-component-link.btn-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.butter-component-link-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 2px solid rgba(0,0,0,.2);
    position: absolute;
    display: none;
}