<?xml version="1.0" encoding="UTF-8"?>
<web-app id="larmic-jsf2-components"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>jsf2-components-showcase</display-name>

	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>showcase.jsf</welcome-file>
	</welcome-file-list>
    
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>