<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
			version="3.1">
    <display-name>/</display-name>

	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
        <!--<param-value>Production</param-value>-->
        <!--<param-value>Development</param-value>-->
    </context-param>

    <!--
    <context-param>
		<param-name>org.butterfaces.provideJQuery</param-name>
		<param-value>false</param-value>
	</context-param>

    <context-param>
		<param-name>org.butterfaces.provideBootstrap</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.butterfaces.useCompressedResources</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.butterfaces.ajaxProcessingTextOnRequest</param-name>
		<param-value>Processing</param-value>
	</context-param>
	<context-param>
		<param-name>org.butterfaces.ajaxProcessingGlyphiconOnRequest</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>org.butterfaces.autoTrimInputFields</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
        <param-name>org.butterfaces.glyhicon.refresh</param-name>
        <param-value>fa fa-refresh</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.glyhicon.options</param-name>
        <param-value>fa fa-th</param-value>
    </context-param>

    <context-param>
        <param-name>org.butterfaces.glyhicon.sort.none</param-name>
        <param-value>fa fa-sort</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.glyhicon.sort.ascending</param-name>
        <param-value>fa fa-sort-down</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.glyhicon.sort.descending</param-name>
        <param-value>fa fa-sort-up</param-value>
    </context-param>

    <context-param>
        <param-name>org.butterfaces.noEntriesText</param-name>
        <param-value>No matching entries...</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.spinnerText</param-name>
        <param-value>Fetching data...</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.maxLengthText</param-name>
        <param-value>{0} of {1} characters</param-value>
    </context-param>

    <context-param>
        <param-name>org.butterfaces.treebox.showClearButton</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.butterfaces.ajaxDisableRenderRegionsOnRequest</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.butterfaces.integration.primefaces.disableJQuery</param-name>
        <param-value>true</param-value>
    </context-param>
	-->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/index.xhtml</location>
	</error-page>

    <welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
    
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>