.butter-component-number .butter-component-value .input-group-addon .glyphicon {
    line-height: 1;
}

.butter-component-number-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding: 0 !important;
    width: 40px !important;

    .butter-component-number-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;

        &:hover {
            background-color: #ddd;
        }

        &:first-child {
            border-bottom: 1px solid #ccc;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }
}