.butter-table tbody>tr.butter-table-row-selected,
.butter-table tbody>tr.butter-table-row-selected td {
    background-color: #d9edf7;
}

.butter-table tbody>tr.butter-table-row:hover,
.butter-table tbody>tr.butter-table-row:hover td {
    background-color: #fcf8e3;
    cursor: pointer;
}

.butter-component-table-column-sort-spinner {
    margin-left: 5px;
}

.butter-component-table-column-sort:hover {
    cursor: pointer;
}

.butter-component-table-column-header>div {
    display: flex;
    align-items: center;
}