.butter-component-tree li,
.butter-component-tree ul,  li, ul{
    list-style-type: none;
}

.butter-component-tree > ul {
    padding-left: 0;
}

.butter-component-tree-node,
.butter-component-tree-leaf {
    width: 16px;
}

.butter-component-tree-node.glyphicon {
    color: #777;
}

.butter-component-tree-leaf {
    display: inline-block;
}

.butter-component-tree-title {
    padding-left: 4px;
    padding-right: 4px;
}

.butter-component-tree-node,
.butter-component-tree-icon {
    width: 16px;
    display: inline-block;
    height: 16px;
    background-repeat: no-repeat;
}

.butter-component-tree-no-icons .butter-component-tree-icon {
    display: none;
}

.butter-component-tree-row .butter-component-tree-title {
    display: inline-block;
    width: calc(100% - 32px);
}

.butter-component-tree-node-selected > .butter-component-tree-row .butter-component-tree-title,
.butter-component-tree-title:hover {
    border-radius: 4px;
    cursor: pointer;
}

.butter-component-tree-no-icons .butter-component-tree-node-selected > .butter-component-tree-row .butter-component-tree-title,
.butter-component-tree-no-icons .butter-component-tree-title:hover {
    width: calc(100% - 16px);
    cursor: pointer;
}

.butter-component-tree-node-selected > .butter-component-tree-row .butter-component-tree-title {
    background: #D1E3FF;
}

.butter-component-tree-row:hover > .butter-component-tree-title {
    background: #E8F1FF;
}

.butter-component-tree-no-selection .butter-component-tree-row:hover > .butter-component-tree-title {
    background: none;
}