.butter-table-toolbar {
    display: inline-block;
    width: 100%;
}

.butter-table-toolbar .dropdown-menu {
    right: 0;
    left: auto;
}

.butter-table-toolbar-columns {
    width: 160px;
}

.butter-table-toolbar-columns label {
    font-weight: normal;
}

.butter-table-toolbar-columns li {
}

.butter-table-toolbar-columns li:hover {
    background: #E8F1FF;
    cursor: pointer;
}

.butter-table-toolbar-column-option {
    display: flex;
    align-items: center;
}

.butter-table-toolbar-column-option input {
    width: 16px;
    margin: 0 0 0 6px;
}

.butter-table-toolbar-column-option label {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.butter-table-toolbar-column-option .butter-table-toolbar-column-order {
    width: 16px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
}

.butter-table-toolbar-column-option .checkbox {
    margin: 0;
}

.butter-table-toolbar-columns .butter-table-toolbar-column-option:last-of-type .butter-table-toolbar-column-order-item-down,
.butter-table-toolbar-columns .butter-table-toolbar-column-option:first-of-type .butter-table-toolbar-column-order-item-up {
    display: none;
}