select[multiple].butter-input-component,
select[size].butter-input-component,
select.butter-input-component {
    height: 34px; /* bootstrap default height */
}

.butter-component-required {
    color: #a94442;
    margin-right: 2px;
    margin-left: 2px;
}

.butter-component .input-group {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: stretch;
}

.butter-component .input-group-addon {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    width: auto;
}

.butter-component .checkbox,
.butter-component .radio {
    margin-top: 0;
}

.butter-component {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    margin-bottom: 10px;
    min-height: 34px;
}

.butter-component .radio input[type="radio"],
.butter-component .radio-inline input[type="radio"] {
    margin-left: 0;
}

.butter-component-label {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    align-items: baseline;
}

.butter-component-label abbr {
    display: block;
}

.butter-component-label abbr,
.butter-component-value-readonly,
.butter-component-checkbox {
    padding-top: 6px;
}

.butter-component-readonly .butter-component-label {
    padding: 0;
}

.butter-component-value {
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    width: 70%;            /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
}

.butter-component-value-readonly {
    white-space: pre-wrap;
}


.butter-component-value-hiddenLabel {
    width: 100% !important;
}

.form-group {
    position: relative;
}

/* clearfix for form groups */
.form-group:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.butter-component-maxlength-counter {
    padding-right: 15px;
    text-align: right;
}

.has-error .butter-component-maxlength-counter {
    color: #a94442;
}

.butter-component-glyphicon {
    margin-right: 5px;
}

.butter-component-expandable-original {
    height: 34px !important;
    white-space: normal;
    overflow: hidden;
    resize: none;
    background-image: url(#{resource[ 'img:expandable.png' ]}) !important;
    background-position: right center;
    background-repeat: no-repeat;
}

.butter-component-expandable-ghost {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #999;
}