select[multiple].butter-input-component,
select[size].butter-input-component,
select.butter-input-component {
    height: 34px; /* bootstrap default height */
}

.butter-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 34px;
}

.butter-component-required {
    color: #a94442;
    margin-right: 2px;
    margin-left: 2px;
}

.butter-component .input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.butter-component .input-group-addon {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: auto;
}

.butter-component .checkbox,
.butter-component .radio {
    margin-top: 0;
}

.butter-component .radio input[type="radio"],
.butter-component .radio-inline input[type="radio"] {
    margin-left: 0;
}

.butter-component-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.butter-component-label abbr,
.butter-component-value-readonly,
.butter-component-checkbox {
    padding-top: 6px;
}

.butter-component-readonly .butter-component-label {
    padding: 0;
}

.butter-component-value {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    flex: 1 0;
}

.butter-component-value-readonly {
    white-space: pre-wrap;
}


.butter-component-value-hiddenLabel {
    width: 100% !important;
}

.form-group {
    position: relative;
}

/* clearfix for form groups */
.form-group:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.butter-component-maxlength-counter {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
    padding-right: 10px;
    text-align: right;
}

.has-error .butter-component-maxlength-counter {
    color: #a94442;
}

.butter-component-glyphicon {
    margin-right: 5px;
}

.butter-component-expandable-original {
    height: 34px !important;
    white-space: normal;
    overflow: hidden;
    resize: none;
    background-image: url(#{resource[ 'img:expandable.png' ]}) !important;
    background-position: right center;
    background-repeat: no-repeat;
}

.butter-component-expandable-ghost {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #999;
}

.butter-component-number-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding: 0 !important;
    width: 40px !important;
}

.butter-component-number-button {
    cursor: pointer;
}

.butter-component-number-button:hover {
    background-color: #ddd;
}

.butter-component-number-button:first-child {
    border-bottom: 1px solid #ccc;
}