.butter-component-tree .glyphicon-node {
    margin-top: 4px;
}

.butter-component-tree .tr-tree-entryTree {
    display: inline-table;
    width: 100%;
}

.butter-component-tree .tr-tree {
    border: none;
}

.butter-component-tree .tr-tree.focus.focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}
