.butter-component-tooltip-temp-content {
    display: none;
}

.butter-component-tooltip-validation-error {
    color: #a94442;
}

.butter-component-tooltip-validation-error ul {
    padding-left: 0;
}

.butter-component-label-tooltip abbr {
    text-decoration: underline;
    text-decoration-style:dotted;
}