.butter-component-glyphicon-processing {
    text-align: left;
    width: 20px;
    display: none;
}

.butter-component-link.btn-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.butter-component-link-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 2px solid rgba(0,0,0,.2);
    position: absolute;
    display: none;
}

.butter-component-spinner,
.butter-component-spinner:before,
.butter-component-spinner:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.butter-component-spinner:before,
.butter-component-spinner:after {
    position: absolute;
    top: 0;
    content: '';
}
.butter-component-spinner:before {
    left: -1.5em;
}
.butter-component-spinner {
    text-indent: -9999em;
    margin: auto;
    position: relative;
    font-size: 11px;
    top: calc(50% - 22px);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.butter-component-spinner:after {
    left: 1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}