.butter-component-waitingPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000; /* including bootstrap header */
}

.butter-component-waitingPanel-body {
    padding: 20px;
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    position: relative;
    height: 58px;
    width: 150px;
    top: calc(50% - 58px);
    left: calc(50% - 75px);
    text-align: left;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
}

.butter-component-waitingPanel-hide {
    display: none;
}