.butter-component-tooltip-temp-content {
    display: none;
}

.butter-component-tooltip-validation-error {
    color: #a94442;
}

.butter-component-tooltip-validation-error ul {
    padding-left: 0;
}