.butter-autocomplete-component {
    display: none;
}

.butter-autocomplete-component ul {
    margin: 0;
    padding: 0;
}

.butter-autocomplete-component li:hover {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    cursor: pointer;
}

.butter-autocomplete-component li:nth-of-type(odd) {
    background-color: #f9f9f9;
}