.butter-component .bootstrap-tagsinput {
    width: 100%;
}

.butter-component-tags-readonly .bootstrap-tagsinput {
    border: none;
    box-shadow: none;
    padding: 0;
}

.butter-component-tags-readonly .bootstrap-tagsinput {
    background-color: rgba(255, 255, 255, 0);
}

