select[multiple].butter-input-component,
select[size].butter-input-component,
select.butter-input-component {
    height: 34px; /* bootstrap default height */
}

.butter-component-required {
    color: #a94442;
    margin-right: 2px;
    margin-left: 2px;
}

.butter-component > label,
.butter-component > div {
    vertical-align: top;
}

.butter-component .checkbox,
.butter-component .radio {
    margin-top: 0;
}

.butter-component .radio input[type="radio"],
.butter-component .radio-inline input[type="radio"] {
    margin-left: 0;
}

.butter-component-label {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    display: inline-block;
}

.butter-component-value {
    display: inline-table;
    width: calc(100% - 120px);
}

.butter-component-value-readonly {
    white-space: pre-wrap;
}

.input-group.butter-component-value {
    float:right;
}

.input-group.butter-component-value:after {
    clear: both;
}

.butter-component-value-hiddenLabel {
    width: 100% !important;
}

.form-group {
    position: relative;
}

/* clearfix for form groups */
.form-group:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.butter-component-tooltip {
    display: inline-block;
}

.butter-component-tooltip-hidden {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.butter-component-tooltip-text {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #999;
    white-space: nowrap;
}

.butter-component-tooltip-text hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.butter-component-tooltip-text ul {
    margin-left: -20px;
}

.butter-component-tooltip-validation-error {
    color: #a94442;
}

.butter-component-tooltip-right .butter-component-tooltip-text {
    margin-left: 15px;
}

.butter-component-tooltip-right .butter-component-tooltip-arrow {
    height: 16px;
    width: 16px;
    background-image: url(#{resource[ 'img:tooltip_arrow_left.png' ]});
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 10;
}

.butter-component-tooltip-up .butter-component-tooltip-text {
    margin-top: 15px;
}

.butter-component-tooltip-up .butter-component-tooltip-arrow {
    height: 16px;
    width: 16px;
    background-image: url(#{resource[ 'img:tooltip_arrow_up.png' ]});
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 10;
}

.butter-component-maxlength-counter {
    padding-right: 15px;
    text-align: right;
}

.has-error .butter-component-maxlength-counter {
    color: #a94442;
}

.butter-component-glyphicon {
    margin-right: 5px;
}

.butter-component-expandable-original {
    height: 34px !important;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

div.butter-component-expandable-original {
    text-overflow: ellipsis;
}

.butter-component-expandable-ghost {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #999;
}

div.butter-component-expandable-ghost {
    background-color: #fff;
    white-space: pre;
}