.panel-components .experimentalHint {
  padding-top: 30px;
  font-size: smaller;
}

.panel.panel-simple {
  border-color: #ddd;

  .panel-heading {
    color: #737373;
    text-align: end;
  }

  .panel-body {
    padding-top: 0;

    p:first-of-type {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
      margin-top: 20px;
    }

    h5 {
      margin-top: 0;
      margin-left: 18px;
    }
  }
}

.componentsNavList .mojarra sub.mojarra {
  color: @mojarra-color;
}

.componentsNavList .experimental {
  color: @experimental-color;
}

.componentsNavList .newFeature {
  color: @new-feature-color;
}

.nav.componentsNavList > li > a {
  padding: 0 20px;
}

.socialNetwork {
  margin-top: 15px;
}

.socialNetwork .googleplus,
.socialNetwork .twitter,
.socialNetwork .github {
  float: left;
  margin-right: 20px;
}

.maven-example,
.maven-example pre {
  font-size: 80%;
  margin-left: 18px;
}

.maven-example .prettyprint {
  margin-left: 0;
  margin-right: 0;
}