.info-card {
    .experimentalHint {
        padding-top: 30px;
        font-size: smaller;
    }

}

.componentsNavList .mojarra sub.mojarra {
    color: @mojarra-color;
}

.componentsNavList .experimental {
    color: @experimental-color;
}

.componentsNavList .newFeature {
    color: @new-feature-color;
}

.nav.componentsNavList > li > a {
    padding: 0 20px;
}

.socialNetwork {
    margin-top: 15px;
}

.socialNetwork .googleplus,
.socialNetwork .twitter,
.socialNetwork .github {
    float: left;
    margin-right: 20px;
}

.maven-example,
.maven-example pre {
    font-size: 80%;
    margin-left: 18px;
}

.maven-example .prettyprint {
    margin-left: 0;
    margin-right: 0;
}