.panel-components .experimentalHint {
  padding-top: 30px;
  font-size: smaller;
}

.panel-documentation .glyphicon {
  color: #449d44;
}

.componentsNavList .experimental {
  color: @experimental-color;
}

.componentsNavList .newFeature {
  color: @new-feature-color;
}

.nav.componentsNavList>li>a {
  padding: 0 20px;
}

.socialNetwork {
  margin-top: 15px;
}

.socialNetwork .googleplus {
  float: left;
  margin-right: 20px;
}

.maven-example,
.maven-example pre {
  font-size: 80%;
}

.maven-example .prettyprint {
  margin-left: 0;
  margin-right: 0;
}