.repeat-simple-list {
  max-height: 400px;
  overflow: auto;
}

.repeat-episode-list {
  padding: 0 10px;
  max-height: 400px;
  overflow: auto;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .repeat-episode-item {
    border: #ddd 1px solid;
    border-radius: 4px;

    &.col-md-4 {
      padding: 5px;
      width: ~"calc(33.33333333% - 12px)";
    }

    img {
      width: 100%;
    }

    .repeat-episode-content {
      opacity: 0.6;
      position: absolute;
      top: 0;
      color: white;
      margin-top: 10px;
      margin-left: 10px;
      height: 100%;
      width: 100%;

      a {
        position: inherit;
        right: 25px;
        bottom: 20px;
      }
    }
  }
}